<script id="fromHtml" type="text/html">
    {{each data as val i}}
    <!-- 日期选择 -->
    {{if val.type==1}}
    <div class="qm-change qm-input-text clearfix">
        <span class="fl labeltxt" >{{val.name}}</span>
        <div class="box-right fl" name="{{val.name}}" id="{{val.id}}" data-type="{{val.type}}">
            <input readonly class="beginTime changes" id="{{val.id}}" data-begin="{{val.begin}}" data-end="{{val.end}}" placeholder="请选择{{val.name}}">
        </div>
    </div>
    <!-- 输入框 -->
    {{else if val.type==2}}
    <div class="qm-change qm-input-text clearfix">
        <span class="fl labeltxt">{{val.name}}</span>
        <div class="box-right fl" name="{{val.name}}" id="{{val.id}}" data-type="{{val.type}}">
            <input type="text" class="changes" id="{{val.id}}" placeholder="{{val.desc?val.desc:'请输入'+val.name}}">
        </div>
    </div>
    <!-- 电话号码 -->
    {{else if val.type==3}}
    <div class="qm-change qm-input-text clearfix">
        <span class="fl labeltxt">{{val.name}}</span>
        <div class="box-right fl" name="{{val.name}}" id="{{val.id}}" data-type="{{val.type}}">
            <input type="tel" class="changes" id="{{val.id}}" placeholder="{{val.desc?val.desc:'请输入'+val.name}}">
        </div>
    </div>
    <!-- 单选 -->
    {{else if val.type==4}}
    <div class="qm-change qm-input-radio clearfix">
        <span class="fl labeltxt">{{val.name}}</span>
        <div class="box-right fl {{val.className}}" name="{{val.name}}" id="{{val.id}}" data-type="{{val.type}}">
            {{each val.items as item n}}
            <label class="radio-inline margin-right-20">
                {{if n==0}}
                <input type="radio" class="lz-radio {{val.id}}" name="{{val.id}}" checked='checked' value="{{item.value}}"> {{item.value}}
                {{else}}
                <input type="radio" class="lz-radio {{val.id}}" name="{{val.id}}" value="{{item.value}}"> {{item.value}}
                {{/if}}
            </label>
            {{/each}}
            {{if val.inputItem}}
            <br>
            <label class="radio-inline margin-right-20">
                <input type="radio" class="lz-radio {{val.id}} radio-show-input" name="{{val.id}}" value="-1"> 
                <span id="span{{val.id}}">{{val.inputItem.name}}</span> 
                <input type="text" class="hide other-input" id="input{{val.id}}">
            </label>
            {{/if}}
        </div>
    </div>
    <!-- 下拉 -->
    {{else if val.type==5}}
    <div class="qm-change qm-input-text clearfix">
        <label class="labeltxt">{{val.name}}</label>
        <div class="box-right" data-type="5" id="{{val.id}}" name="{{val.name}}" data-type="{{val.type}}">
            <select class="changes">
                {{each val.items as item n}}
                {{if item.selected}}
                <option selected="selected" value="{{item.value}}">{{item.value}}</option>
                {{else}}
                <option value="{{item.value}}">{{item.value}}</option>
                {{/if}}
                {{/each}}
            </select>
        </div>
    </div>
    <!-- 单选 -->
    {{else if val.type==6}}
    <div class="qm-change qm-input-radio clearfix qm-radio-box">
        <span class="fl labeltxt radio-box-label">{{val.name}}</span>
        <div class="box-right fl {{val.className}}" name="{{val.name}}" id="{{val.id}}" data-type="{{val.type}}">
            {{each val.items as item n}}
                {{if item.selected }}
                <div class="radio-box active"> {{item.value}}</div>
                {{else}}
                <div class="radio-box"> {{item.value}}</div>
                {{/if}}
            {{/each}}
            {{if val.inputItem}}
            <div class="radio-box radio-show-input" > 
                <input type="text" placeholder="{{val.inputItem.name}}" text="{{val.inputItem.name}}">
            </div>
            {{/if}}
        </div>
    </div>
    {{/if}}
    {{/each}}
</script>